h1.heading{
  text-align: center;
  margin-bottom: 30px;
}
.editcell input{
width: 220px;
border: none;
box-shadow: none;
}
.form-container{
 justify-content: center;
 display: flex;
}
.delete-btn{
  font-size: 1em;
  color: red;
}

.wrapper .form-container{
  width: 500px;
  height: 340px;
  background-color: whitesmoke;
  margin: 20px auto;
  padding: 20px;   
}

.wrapper .form-container .btn{
  width: 100%;   
}