h1.heading{
  text-align: center;
  margin-bottom: 30px;
}
.editcell input{
width: 220px;
border: none;
box-shadow: none;
}
.customer-form{
  width: 400px;
}
.form-container{
 justify-content: center;
 display: flex;
}
button.add{
  margin-left: 30px;
}
button.invoiceadd{
  margin-left: 300px;
}
.edit-btn{
  justify-content: center;
  display: flex;
}
.delete-btn{
  font-size: 1em;
  color: red;
}